@use '../shared' as s;

@import '../forms';


.formGroups{
    display: grid;
    grid-template-rows: 2fr 1fr ;    
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.imageContainer{
    width: 100%;
    height: 100%; 
}

.imgLabel{
    text-align: center;
}

.photoReady{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:750px) {
    .formGroups{        
        grid-template-rows: 1fr;    
        grid-template-columns: 1fr;
        gap: 0.5em;
    } 
}


